{% extends "app/after_login_base.html" %}
{%block title %} Index page {% endblock %}
{% block header %}
About us
{% endblock %}
{% block content %}

<img class="img-responsive" src="/static/app/img/888.jpg" id="com" alt="" height="200" width="200">
<font size="7">After we conducted a survey we found out that 60% of the people that answered it ,think that tutoring lessons are too expensive and aren't satisfied from the current price. From those numbers you can clearly see that there is a strong need among people for a cheaper way to study. Another fact we found out is that only 35% of the people who answered the survey are satisfied from online tutoring lessons they are taking. As a result of that, you can see there is a big market searching for a better solution for online teaching. Another thing we found out from our survey is that a lot of the people who are studying stuff aren't happy from the fact they need to leave their houses to study.
              
Our idea, “Vive”, an easy solution for the problem we revealed before. After we saw many people suffering from those problems, we immediately thought about a concept called “time banking”. “time banking” is a easy way to study things and teach things in a cheap and friendly way. The way “time-banking” works is that in order to get tutored in a subject for an hour, you need to teach somebody else something you know for an hour. Our idea basically is an online time-banking platform. The way our website is going to work is the following: In order to get tutored for an hour online (through a web camera) – you will need to spend one coin. In order to have one coin you will need to teach someone else on the website something you know for an hour.


We are a group of teenagers that are interested in technology and business. As students, we are very close to the world of tutoring and have many friends with the problem we are trying to solve – which means we have a lot of experience in the world of tutoring and are qualified to manage a tutoring business. The team is made up of: Saeed Jweiles – he lives in Beit Hanina and has a brother who takes a lot of tutoring lessons and knows what he feels about it, Gilad Kleinman – a leyada student with a father that teaches physics which means he is close to the world of tutoring, 
Aseel Bataha, a sixteen year old Jerusalemite , who knows four language and would love to know more. Matthew Hodali, a sixteen year old Frere School student who likes arts and studies online.
Roni Gal, a sixteen year old Jerusalemite, who has always been curious and always happy to learn more.

We promise all our customers a provision of safety and endless education.

An online website that gives you the ability to teach and be taught with people around the world. How fun would that be?! </font>
<h2></h2>
<h2></h2>

{% endblock %}
