{% extends "app/after_login_base.html" %}
{%block title %} Index page {% endblock %}
{% block name %}
Test
{% endblock %}
{% block content %}

	    			<div class="col-md-12">
						
	    				<table class="events-list">

	    					<tr>
	    						<td>
	    							

	    							<div class="event-date">
	    								<div class="event-day">16</div>
	    								<div class="event-month">MAR</div>
	    							<h4 class="moshe">16:00</h4>
	    							</div>	
	    						</td>

	    						<td>

	    							Donec hendrerit massa metus, a ultrices elit iaculis eu. Pellentesque ullamcorper augue lacus.
	    						</td>
	    						<td class="event-venue hidden-xs"><i class="icon-map-marker"></i> Siemens Arena</td>
	    					
	    						<td><a href="#" class="btn btn-grey btn-sm event-more">Read More</a></td>
	    					</tr>
	    					<tr>
	    						<td>
	    							<div class="event-date">
	    								<div class="event-day">5</div>
	    								<div class="event-month">APR</div>
	    								<h4 class="moshe">16:00</h4>
	    							</div>
	    						</td>
	    						<td>
	    							Phasellus et est quis diam iaculis fringilla id nec sapien.
	    						</td>
	    						<td class="event-venue hidden-xs"><i class="icon-map-marker"></i> Nike Arena</td>
	    						<td><a href="#" class="btn btn-grey btn-sm event-more">Read More</a></td>
	    					</tr>
	    					<tr>
	    						<td>
	    							<div class="event-date">
	    								<div class="event-day">31</div>
	    								<div class="event-month">MAY</div>
	    								<h4 class="moshe">16:00</h4>
	    							</div>
	    						</td>
	    						<td>
	    							Ut consectetur commodo justo, sed sollicitudin massa venenatis ut 2013.
	    						</td>
	    						<td class="event-venue hidden-xs"><i class="icon-map-marker"></i> Samsung Arena</td>
	    						<td><a href="#" class="btn btn-grey btn-sm event-more">Read More</a></td>
	    					</tr>
	    					<tr>
	    						<td>
	    							<div class="event-date">
	    								<div class="event-day">17</div>
	    								<div class="event-month">SEP</div>
	    								<h4 class="moshe">16:00</h4>
	    							</div>
	    						</td>
	    						<td>
	    							Pellentesque justo turpis, fringilla sit amet pulvinar ut, tincidunt nec leo.
	    						</td>
	    						<td class="event-venue hidden-xs"><i class="icon-map-marker"></i> Samsung Arena</td>
	    						<td><a href="#" class="btn btn-grey btn-sm event-more">Read More</a></td>
	    					</tr>
	    					<tr>
	    						<td>
	    							<div class="event-date">
	    								<div class="event-day">16</div>
	    								<div class="event-month">MAR</div>
	    								<h4 class="moshe">16:00</h4>
	    							</div>
	    						</td>
	    						<td>
	    							Donec hendrerit massa metus, a ultrices elit iaculis eu. Pellentesque ullamcorper augue lacus.
	    						</td>
	    						<td class="event-venue hidden-xs"><i class="icon-map-marker"></i> Siemens Arena</td>
	    						<td><a href="#" class="btn btn-grey btn-sm event-more">Read More</a></td>
	    					</tr>
	    					<tr>
	    						<td>
	    							<div class="event-date">
	    								<div class="event-day">5</div>
	    								<div class="event-month">APR</div>
	    								<h4 class="moshe">16:00</h4>
	    							</div>
	    						</td>
	    						<td>
	    							Phasellus et est quis diam iaculis fringilla id nec sapien.
	    						</td>
	    						<td class="event-venue hidden-xs"><i class="icon-map-marker"></i> Nike Arena</td>
	    						<td><a href="#" class="btn btn-grey btn-sm event-more">Read More</a></td>
	    					</tr>

	    				</table>

	    			</div>

{% endblock %}