{% extends "app/after_login_base.html" %}
{%block title %} Index page {% endblock %}
{% block header %}
View Spanish Teacher <h2>John Snow</h2>
{% endblock %}
{% block content %}

 <div class="section">
	    	<div class="container">
	    		<div class="row">
	    			<!-- Product Image & Available Colors -->
	    			<div class="col-sm-6">
	    				<div class="product-image-large">
	    					<img src="http://vignette2.wikia.nocookie.net/p__/images/3/34/Jon-Snow-jon-snow-28167437-1280-720.jpg/revision/latest?cb=20130803005202&path-prefix=protagonist" alt="Item Name">
	    				</div>
	    			</div>
	    			<!-- End Product Image & Available Colors -->
	    			<!-- Product Summary & Options -->
	    			<div class="col-sm-6 product-details">
	    				<h3>John Snow</h4>
	    				<h4>Spanish Teacher</h4>

						<h5>Quick Overview</h5>
	    				<p>
	    					Morbi eleifend congue elit nec sagittis. Praesent aliquam lobortis tellus, nec consequat massa ornare vitae. Ut fermentum justo vel venenatis eleifend. Fusce id magna eros.
	    				</p>
						<table class="shop-item-selections">

							<tr>
								<td><b>Date:</b></td>
								<td>
									<div class="dropdown">
					
										<select name="s" class="btn btn-sm btn-grey" >
											<option role="menuitem"><a href="#">Monday, June 15, 2009 - 17:00</a></option >
											<option  role="menuitem"><a href="#">Monday, June 15, 2009 - 17:00</a></option >
											<option  role="menuitem"><a href="#">Monday, June 15, 2009 - 17:00</a></option >
											<option  role="menuitem"><a href="#">Monday, June 15, 2009 - 17:00</a></option >
											<option  role="menuitem"><a href="#">Monday, June 15, 2009 - 17:00</a></option >
										</select>
									</div>
								</td>
							</tr>
							<!-- Add to Cart Button -->
							<tr>
								<td>&nbsp;</td>
								<td>
									<a href="#" class="btn btn"> Schedule a Lesson</a>
								</td>
							</tr>
						</table>
	    			</div>
	    			<!-- End Product Summary & Options -->
	    			
	    			<!-- Full Description & Specification -->
	    			<div class="col-sm-12">
	    				<div class="tabbable">
	    					<!-- Tabs -->
							<ul class="nav nav-tabs product-details-nav">
								<li class="active"><a data-toggle="tab">Description</a></li>

							</ul>
							<!-- Tab Content (Full Description) -->
							<div class="tab-content product-detail-info">
								<div class="tab-pane active" id="tab1">
									<h4>Product Description</h4>
									<p>
										Donec hendrerit massa metus, a ultrices elit iaculis eu. Pellentesque ullamcorper augue lacus. Phasellus et est quis diam iaculis fringilla id nec sapien. Sed tempor ornare felis, non vulputate dolor. Etiam ornare diam vitae ligula malesuada tempor. Vestibulum nec odio vel libero ullamcorper euismod et in sapien. Suspendisse potenti.
									</p>
									<h4>Product Highlights</h4>
									<ul>
										<li>Nullam dictum augue nec iaculis rhoncus. Aenean lobortis fringilla orci, vitae varius purus eleifend vitae.</li>
										<li>Nunc ornare, dolor a ultrices ultricies, magna dolor convallis enim, sed volutpat quam sem sed tellus.</li>
										<li>Aliquam malesuada cursus urna a rutrum. Ut ultricies facilisis suscipit.</li>
										<li>Duis a magna iaculis, aliquam metus in, luctus eros.</li>
										<li>Aenean nisi nibh, imperdiet sit amet eleifend et, gravida vitae sem.</li>
										<li>Donec quis nisi congue, ultricies massa ut, bibendum velit.</li>
									</ul>
									<h4>Usage Information</h4>
									<p>
										Donec hendrerit massa metus, a ultrices elit iaculis eu. Pellentesque ullamcorper augue lacus. Phasellus et est quis diam iaculis fringilla id nec sapien. Sed tempor ornare felis, non vulputate dolor. Etiam ornare diam vitae ligula malesuada tempor. Vestibulum nec odio vel libero ullamcorper euismod et in sapien. Suspendisse potenti.
									</p>
								</div>
								<!-- Tab Content (Specification) -->
								
							</div>
						</div>
	    			</div>
	    		</div>
			</div>
		</div>
{% endblock %}