
{% extends "app/after_login_base.html" %}
{%block title %} Index page {% endblock %}
{% block header %}
View Spanish Teacher <h2>John Snow</h2>
{% endblock %}
{% block content %}
        <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Arabic tutors</h1>
					</div>
				</div>
			</div>
		</div>
        
        <div class="section">
	    	<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="portfolio-item">
							<div class="portfolio-image">
								<a href="page-portfolio-item.html"><img src="{{STATIC_URL}}app/img/1509814_1508507812767493_776902086465704382_n.jpg" alt= "Project Name"></a>
							</div>
							<div class="portfolio-info">
								<ul>
									<li class="portfolio-project-name">Aseel</li>
									<li>Arabic and dance tutor</li>
									<span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
									<li class="read-more"><a href="page-portfolio-item.html" class="btn">Read more</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="portfolio-item">
							<div class="portfolio-image">
								<a href="page-portfolio-item.html"><img src="{{STATIC_URL}}app/img/moshey.jpg" alt="Project Name" height="160" width="160"></a>
							</div>
							<div class="portfolio-info">
								<ul>
									<li class="portfolio-project-name">Moshe</li>
									<li>Arabic and CS tutor</li>
									<span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
									<li class="read-more"><a href="page-portfolio-item.html" class="btn">Read more</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="portfolio-item">
							<div class="portfolio-image">
								<a href="page-portfolio-item.html"><img src="{{STATIC_URL}}app/img/1922201_10204425042539857_2492075228697267307_n.jpg" alt="Project Name"></a>
							</div>
							<div class="portfolio-info">
								<ul>
									<li class="portfolio-project-name">Gilad</li>
									<li>Arabic and Physics tutor</li>
									<span class="glyphicon glyphicon-star"></span>
									<li class="read-more"><a href="page-portfolio-item.html" class="btn">Read more</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="portfolio-item">
							<div class="portfolio-image">
								<a href="page-portfolio-item.html"><img src="{{STATIC_URL}}app/img/11062131_630182723793190_8121665022412996137_n.jpg" alt="Project Name" height="160" width="160"></a>
							</div>
							<div class="portfolio-info">
								<ul>
									<li class="portfolio-project-name">Saeed</li>
									<li>Arabic and soccer tutor</li>
									<span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
									<li class="read-more"><a href="page-portfolio-item.html" class="btn">Read more</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="portfolio-item">
							<div class="portfolio-image">
								<a href="page-portfolio-item.html"><img src="{{STATIC_URL}}app/img/10432498_620094664785700_5740298908373479254_n.jpg" alt="Project Name"></a>
							</div>
							<div class="portfolio-info">
								<ul>
									<li class="portfolio-project-name">Amin</li>
									<li>Everything tutor</li>
									<span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
									<span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
									<li class="read-more"><a href="page-portfolio-item.html" class="btn">Read more</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="portfolio-item">
							<div class="portfolio-image">
								<a href="page-portfolio-item.html"><img src="{{STATIC_URL}}app/img/375660_10201758094302368_1839880148_n.jpg" alt="Project Name"></a>
							</div>
							<div class="portfolio-info">
								<ul>
									<li class="portfolio-project-name">Roni</li>
									<li>Arabic and reading tutor</li>
									<span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
									<li class="read-more"><a href="page-portfolio-item.html" class="btn">Read more</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	    <!-- Footer -->
	    <div class="footer">
	    	<div class="container">
		    	<div class="row">
		    		<div class="col-footer col-md-3 col-xs-6">
		    			<h3>Our Latest Work</h3>
		    			<div class="portfolio-item">
							<div class="portfolio-image">
								<a href="page-portfolio-item.html"><img src="img/portfolio6.jpg" alt="Project Name"></a>
							</div>
						</div>
		    		</div>
		    		<div class="col-footer col-md-3 col-xs-6">
		    			<h3>Navigate</h3>
		    			<ul class="no-list-style footer-navigate-section">
		    				<li><a href="page-blog-posts.html">Blog</a></li>
		    				<li><a href="page-portfolio-3-columns-2.html">Portfolio</a></li>
		    				<li><a href="page-products-3-columns.html">eShop</a></li>
		    				<li><a href="page-services-3-columns.html">Services</a></li>
		    				<li><a href="page-pricing.html">Pricing</a></li>
		    				<li><a href="page-faq.html">FAQ</a></li>
		    			</ul>
		    		</div>
		    		
		    		<div class="col-footer col-md-4 col-xs-6">
		    			<h3>Contacts</h3>
		    			<p class="contact-us-details">
	        				<b>Address:</b> 123 Fake Street, LN1 2ST, London, United Kingdom<br/>
	        				<b>Phone:</b> +44 123 654321<br/>
	        				<b>Fax:</b> +44 123 654321<br/>
	        				<b>Email:</b> <a href="mailto:getintoutch@yourcompanydomain.com">getintoutch@yourcompanydomain.com</a>
	        			</p>
		    		</div>
		    		<div class="col-footer col-md-2 col-xs-6">
		    			<h3>Stay Connected</h3>
		    			<ul class="footer-stay-connected no-list-style">
		    				<li><a href="#" class="facebook"></a></li>
		    				<li><a href="#" class="twitter"></a></li>
		    				<li><a href="#" class="googleplus"></a></li>
		    			</ul>

		    		</div>
		    	</div>
		    	<div class="row">
		    		<div class="col-md-12">
		    			<div class="footer-copyright">&copy; 2013 mPurpose. All rights reserved.</div>
		    		</div>
		    	</div>
		    </div>
	    </div>
{% endblock %}